---
- name: Fetch TLS certificate, key and CA from the master node into memory
  run_once: true
  ansible.builtin.slurp:
    src: "{{ item }}"
  delegate_to: "{{ groups.master[0] }}"
  register: tls_files
  loop:
    - "/etc/tls/server.key"
    - "/etc/tls/server.crt"
    - "/etc/tls/ca.crt"

- name: Copy etcd TLS certificate, key and CA to all nodes from memory
  ansible.builtin.copy:
    content: "{{ tls_files.results[item.index].content | b64decode }}"
    dest: "{{ item.path }}"
    owner: "etcd"
    group: "etcd"
    mode: "{{ item.mode }}"
  loop:
    - { index: 0, path: "{{ tls_etcd_privatekey_path | default('/etc/etcd/server.key') }}", mode: "0400" }
    - { index: 1, path: "{{ tls_etcd_cert_path | default('/etc/etcd/server.crt') }}", mode: "0644" }
    - { index: 2, path: "{{ tls_etcd_ca_cert_path | default('/etc/etcd/ca.crt') }}", mode: "0644" }
  when: copy_for == 'etcd'

- block:
    - name: Create directory {{ tls_privatekey_path | dirname }}
      ansible.builtin.file:
        dest: "{{ tls_privatekey_path | dirname }}"
        state: directory
        owner: "{{ tls_owner }}"
        group: "{{ tls_owner }}"
        mode: "0755"

    - name: Copy PostgreSQL TLS certificate, key and CA to all nodes
      ansible.builtin.copy:
        content: "{{ tls_files.results[item.index].content | b64decode }}"
        dest: "{{ item.path }}"
        owner: "{{ tls_owner }}"
        group: "{{ tls_owner }}"
        mode: "{{ item.mode }}"
      loop:
        - { index: 0, path: "{{ tls_privatekey_path | default('/etc/tls/server.key') }}", mode: "0400" }
        - { index: 1, path: "{{ tls_cert_path | default('/etc/tls/server.crt') }}", mode: "0644" }
        - { index: 2, path: "{{ tls_ca_cert_path | default('/etc/tls/ca.crt') }}", mode: "0644" }

    - name: Delete TLS certificate and key from the ansible controller
      ansible.builtin.file:
        path: "files/tls/"
        state: absent
      delegate_to: localhost
      run_once: true
  when: copy_for == 'pg'
