backend = "etcdv3"
interval = 10
watch = true
nodes = [
{% if not dcs_exists|bool and dcs_type == 'etcd' %}
  {% for host in groups['etcd_cluster'] %}
  "http://{{ hostvars[host]['inventory_hostname'] }}:2379",
  {% endfor %}
{% endif %}
{% if dcs_exists|bool and dcs_type == 'etcd' %}
  {% for etcd_hosts in patroni_etcd_hosts %}
  "{{ patroni_etcd_protocol | default('http', true) }}://{{etcd_hosts.host}}:{{etcd_hosts.port}}",
  {% endfor %}
{% endif %}
]
{% if dcs_exists|bool and dcs_type == 'etcd' %}
{% if patroni_etcd_username | default('') | length > 0 %}
basic_auth = true
username = "{{ patroni_etcd_username | default('') }}"
password = "{{ patroni_etcd_password | default('') }}"
{% endif %}
{% endif %}