#!/usr/bin/env bash
{% raw %}
while getopts ":-:" optchar; do
  [[ "${optchar}" == "-" ]] || continue
  case "${OPTARG}" in
    datadir=* )
        DATA_DIR=${OPTARG#*=}
        ;;
    scope=* )
        SCOPE=${OPTARG#*=}
        ;;
  esac
done
{% endraw %}

{{ pgbackrest_patroni_cluster_restore_command }}

