[global]
{% for global in pgbackrest_conf.global %}
{{ global.option }}={{ global.value }}
{% endfor %}

[{{ pgbackrest_stanza }}]
{% for stanza in pgbackrest_conf.stanza %}
{{ stanza.option }}={{ stanza.value }}
{% endfor %}
{% if pgbackrest_conf.global | selectattr('option', 'equalto', 'backup-standby') | map(attribute='value') | list | last | default('') == 'y' %}
{% for host in groups['postgres_cluster'] %}
{% if host != inventory_hostname %}
pg{{ loop.index + 1 }}-host={{ host }}
pg{{ loop.index + 1 }}-port={{ postgresql_port }}
pg{{ loop.index + 1 }}-path={{ postgresql_data_dir }}
{% endif %}
{% endfor %}
{% endif %}
