ETCD_NAME="{{ ansible_hostname }}"
ETCD_LISTEN_CLIENT_URLS="https://{{ hostvars[inventory_hostname]['ansible_facts'][patroni_etcd_hosts.ifname]['ipv4']['address'] }}:2379,https://127.0.0.1:2379"
ETCD_ADVERTISE_CLIENT_URLS="https://{{ hostvars[inventory_hostname]['ansible_facts'][patroni_etcd_hosts.ifname]['ipv4']['address'] }}:2379"
ETCD_LISTEN_PEER_URLS="https://{{ hostvars[inventory_hostname]['ansible_facts'][patroni_etcd_hosts.ifname]['ipv4']['address'] }}:2380"
ETCD_INITIAL_ADVERTISE_PEER_URLS="https://{{ hostvars[inventory_hostname]['ansible_facts'][patroni_etcd_hosts.ifname]['ipv4']['address'] }}:2380"
ETCD_INITIAL_CLUSTER_TOKEN="{{ etcd_cluster_name }}"
ETCD_INITIAL_CLUSTER="{% for host in groups['etcd_cluster'] %}{{ hostvars[host]['ansible_facts']['hostname'] }}=https://{{ hostvars[host]['ansible_facts'][patroni_etcd_hosts.ifname]['ipv4']['address'] }}:2380{% if not loop.last %},{% endif %}{% endfor %}"
ETCD_INITIAL_CLUSTER_STATE="new"
ETCD_DATA_DIR="{{ etcd_data_dir }}"
ETCD_ELECTION_TIMEOUT="5000"
ETCD_HEARTBEAT_INTERVAL="1000"
ETCD_INITIAL_ELECTION_TICK_ADVANCE="false"
ETCD_ENABLE_V2="true"

# to etcd
ETCD_TRUSTED_CA_FILE="/etc/etcd/ssl/ca.crt"
ETCD_CERT_FILE="/etc/etcd/ssl/server.crt"
ETCD_KEY_FILE="/etc/etcd/ssl/server.key"
ETCD_CLIENT_CERT_AUTH="true"

# etcd server to etcd server
ETCD_PEER_TRUSTED_CA_FILE="/etc/etcd/ssl/ca.crt"
ETCD_PEER_CERT_FILE="/etc/etcd/ssl/server.crt"
ETCD_PEER_KEY_FILE="/etc/etcd/ssl/server.key"
ETCD_PEER_CLIENT_CERT_AUTH="true"
