---

- name: Make sure the PostgreSQL databases are present
  become: true
  become_user: postgres
  postgresql_db:
    name: "{{ item.db }}"
    owner: "{{ item.owner }}"
    encoding: "{{ item.encoding }}"
    lc_collate: "{{ item.lc_collate }}"
    lc_ctype: "{{ item.lc_ctype }}"
    template: "template0"
    login_host: "127.0.0.1"
    login_port: "{{ postgresql_port }}"
    login_user: "{{ patroni_superuser_username }}"
    login_password: "{{ patroni_superuser_password }}"
    state: present
  ignore_errors: true
  loop: "{{ postgresql_databases | flatten(1) }}"
  when: postgresql_databases is defined and postgresql_databases | length > 0
  tags: postgresql_databases

...
