#jinja2: trim_blocks:True,lstrip_blocks:True
---

raft:
  data_dir: {{ patroni_raft_data_dir }}
  self_addr: {{ hostvars[inventory_hostname]['inventory_hostname'] }}:{{ patroni_raft_controller.port }}
  partner_addrs: 
  - {{ hostvars[groups['master'][0]].inventory_hostname }}:{{ patroni_raft_port }}
{% if patroni_raft_password is defined and patroni_raft_password | length > 0 %}
  password: {{ patroni_raft_password }}
{% endif %}
