---
extends: default

rules:
  line-length: disable
  comments-indentation: disable
  comments:
    min-spaces-from-content: 1
  braces:
    min-spaces-inside: 1
    max-spaces-inside: 1

ignore: |
  .github/
  .venv
