global
    maxconn 100000
    log /dev/log    local0
    log /dev/log    local1 notice
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
    stats timeout 30s
    user haproxy
    group haproxy
    daemon
 
defaults
    mode               tcp
    log                global
    retries            2
    timeout queue      5s
    timeout connect    5s
    timeout client     60m
    timeout server     60m
    timeout check      15s
     
listen stats
    mode http
    bind {{ hostvars[inventory_hostname]['inventory_hostname'] }}:7000
    stats enable
    stats uri /
 
listen master
    bind {{ cluster_vip }}:5000
    maxconn 10000
    option tcplog
    option httpchk OPTIONS /master
    http-check expect status 200
    default-server inter 3s fastinter 1s fall 3 rise 4 on-marked-down shutdown-sessions
{% if install_pgbouncer == "true" %}
  {% for host in groups['postgres_cluster'] %}
server {{ hostvars[host]['ansible_hostname'] }} {{ hostvars[host]['inventory_hostname'] }}:{{ pgbouncer_listen_port }} check port 8008
  {% endfor %}
{% endif %}
{% if ( install_pgbouncer is not defined ) or ( install_pgbouncer != "true" ) or ( install_pgbouncer | length < 1 ) %}
  {% for host in groups['postgres_cluster'] %}
server {{ hostvars[host]['ansible_hostname'] }} {{ hostvars[host]['inventory_hostname'] }}:{{ postgresql_port }} check port 8008
  {% endfor %}
{% endif %}

listen replicas
    bind {{ cluster_vip }}:5001
    maxconn 10000
    option tcplog
    option httpchk OPTIONS /replica
    balance roundrobin
    http-check expect status 200
    default-server inter 3s fastinter 1s fall 3 rise 2 on-marked-down shutdown-sessions
{% if install_pgbouncer == "true" %}
  {% for host in groups['postgres_cluster'] %}
server {{ hostvars[host]['ansible_hostname'] }} {{ hostvars[host]['inventory_hostname'] }}:{{ pgbouncer_listen_port }} check port 8008
  {% endfor %}
{% endif %}
{% if ( install_pgbouncer is not defined ) or ( install_pgbouncer != "true" ) or ( install_pgbouncer | length < 1 ) %}
  {% for host in groups['postgres_cluster'] %}
server {{ hostvars[host]['ansible_hostname'] }} {{ hostvars[host]['inventory_hostname'] }}:{{ postgresql_port }} check port 8008
  {% endfor %}
{% endif %}

listen replicas_sync
    bind {{ cluster_vip }}:5002
    maxconn 10000
    option tcplog
    option httpchk OPTIONS /sync
    balance roundrobin
    http-check expect status 200
    default-server inter 3s fastinter 1s fall 3 rise 2 on-marked-down shutdown-sessions
{% if install_pgbouncer == "true" %}
  {% for host in groups['postgres_cluster'] %}
server {{ hostvars[host]['ansible_hostname'] }} {{ hostvars[host]['inventory_hostname'] }}:{{ pgbouncer_listen_port }} check port 8008
  {% endfor %}
{% endif %}
{% if ( install_pgbouncer is not defined ) or ( install_pgbouncer != "true" ) or ( install_pgbouncer | length < 1 ) %}
  {% for host in groups['postgres_cluster'] %}
server {{ hostvars[host]['ansible_hostname'] }} {{ hostvars[host]['inventory_hostname'] }}:{{ postgresql_port }} check port 8008
  {% endfor %}
{% endif %}
 
listen replicas_async
    bind {{ cluster_vip }}:5003
    maxconn 10000
    option tcplog
    option httpchk OPTIONS /async
    balance roundrobin
    http-check expect status 200
    default-server inter 3s fastinter 1s fall 3 rise 2 on-marked-down shutdown-sessions
{% if install_pgbouncer == "true" %}
  {% for host in groups['postgres_cluster'] %}
server {{ hostvars[host]['ansible_hostname'] }} {{ hostvars[host]['inventory_hostname'] }}:{{ pgbouncer_listen_port }} check port 8008
  {% endfor %}
{% endif %}
{% if ( install_pgbouncer is not defined ) or ( install_pgbouncer != "true" ) or ( install_pgbouncer | length < 1 ) %}
  {% for host in groups['postgres_cluster'] %}
server {{ hostvars[host]['ansible_hostname'] }} {{ hostvars[host]['inventory_hostname'] }}:{{ postgresql_port }} check port 8008
  {% endfor %}
{% endif %}

