# Virtual IP address to configure
VIP_IP="{{ cluster_vip }}"

# The netmask used for the IP address
VIP_MASK="24"

# Network interface to configure
VIP_IFACE="{{ vip_interface }}"

# key to monitor
VIP_KEY="/service/{{ patroni_cluster_name }}/leader"

# Value to monitor
VIP_HOST="{{ ansible_hostname }}"

# Type of endpoint used for key storage. Supported values: etcd, consul (default "etcd")
VIP_TYPE="etcd"

# Endpoint
{% if dcs_exists == 'false' and dcs_type == 'etcd' %}
VIP_ENDPOINT="{% for host in groups['postgres_cluster'] %}http://{{ hostvars[host]['inventory_hostname'] }}:2379{% if not loop.last %},{% endif %}{% endfor %}"
{% endif %}
{% if dcs_exists == 'true' and dcs_type == 'etcd' %}
VIP_ENDPOINT="{% for etcd_hosts in patroni_etcd_hosts %}http://{{etcd_hosts.host}}:{{etcd_hosts.port}}{% if not loop.last %},{% endif %}{% endfor %}"
{% endif %}

# DCS scan interval in milliseconds = 1000 (default)
