requests==2.32.3
docker==7.1.0
molecule==24.12.0
molecule-plugins==23.5.3
ansible-lint==24.12.2
yamllint==1.35.1
attrs==24.2.0
black==24.10.0
bracex==2.5.post1
cffi==1.17.1
click==8.1.7
cryptography==44.0.0
filelock==3.16.1
flake8==7.1.1
Jinja2==3.1.4
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mccabe==0.7.0
mdurl==0.1.2
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.6
pycodestyle==2.12.1
pycparser==2.22
pyflakes==3.2.0
Pygments==2.18.0
PyYAML==6.0.2
referencing==0.35.1
resolvelib==1.0.1
rich==13.9.4
rpds-py==0.22.3
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.12
setuptools==75.6.0
subprocess-tee==0.4.2
tomli==2.2.1
typing_extensions==4.12.2
wcmatch==10.0
wheel==0.45.1
