ansible-compat==3.0.1
ansible-lint==6.15.0
arrow==1.2.3
attrs==23.1.0
binaryornot==0.4.4
black==23.3.0
bracex==2.3.post1
certifi==2023.7.22
chardet==5.1.0
charset-normalizer==3.1.0
click==8.1.3
click-help-colors==0.9.1
cookiecutter==2.1.1
distro==1.8.0
docker==6.1.0
enrich==1.2.7
filelock==3.12.0
flake8==6.0.0
idna==3.4
jinja2-time==0.2.0
jsonschema==4.17.3
markdown-it-py==2.2.0
mccabe==0.7.0
mdurl==0.1.2
molecule==5.0.0
molecule-plugins==23.4.0
mypy-extensions==1.0.0
pathspec==0.11.1
platformdirs==3.5.1
pluggy==1.0.0
pycodestyle==2.10.0
pyflakes==3.0.1
Pygments==2.15.1
pyrsistent==0.19.3
python-dateutil==2.8.2
python-slugify==8.0.1
requests==2.31.0
rich==13.3.5
ruamel.yaml==0.17.26
ruamel.yaml.clib==0.2.7
selinux==0.3.0
six==1.16.0
subprocess-tee==0.4.1
text-unidecode==1.3
tomli==2.0.1
urllib3==1.26.17
wcmatch==8.4.1
websocket-client==1.5.2
yamllint==1.31.0